// Import the background pattern image
// Smooth blend-in animation for the logo
.logo {
    opacity: 0;
    animation: fadeInLogo 2s forwards;
}

@keyframes fadeInLogo {
    to {
        opacity: 1;
    }
}

.logoImage {
    width: fit-content;
    height: fit-content;
    width: 380px;
    height: auto;
}

// Shine animation for the company name
.shine {
    position: relative;
    display: inline-block;
    animation: shineText 2s infinite;
}

@keyframes shineText {
    0% {
        color: #fff;
        /* Start with white color */
        background: transparent;
        /* No background */
    }

    50% {
        color: #161614;
        /* Midway through, change to gold/yellow color */
        background: transparent;
        /* No background */
    }

    100% {
        color: #fff;
        /* Back to white color */
        // background: #FFD700;
        /* Gold/yellow background */
    }
}

// Simple footer styling
.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #777;
}


// Add the background pattern to the main container and apply the waving animation
.container {
    background-image: url('./pngwing.com.png');
    background-repeat: repeat; /* Make the image repeat in both directions */
    animation: waveBackground 60s infinite linear;
  }
  
  @keyframes waveBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }